.aboutUsContainer {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  .aboutUsTitle {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #e99401;
  }
  
  .aboutUsImage {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .aboutUsImage:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 768px) {
    .aboutUsTitle {
      font-size: 2rem;
      text-align: center;
    }
  
    .aboutUsText {
      font-size: 1rem;
      text-align: center;
    }
  
    .aboutUsButton {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .aboutUsImage {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }