.faqContainer {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.faqTitle {
  font-size: 2rem;
  font-weight: 900;
  color: #e99401;
  margin-bottom: 3rem;
  text-align: center;
}

.faqContent {
  text-align: center;
}

.faqCard {
  border: none !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 80rem !important;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.faqCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.faqCard.open {
  background-color: #f9f9f9;
}

.card-body {
  padding: 1.5rem;
  text-align: center;
}

.faqHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.faqQuestion {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  color: #333 !important;
  margin-bottom: 0 !important;
  text-align: center;
  width: 100%;
}

.faqAnswer {
  font-size: 0.9rem !important;
  color: #666 !important;
  margin-top: 1rem;
  text-align: center;
}

.arrow {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .faqTitle {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  .faqCard {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .faqQuestion {
    font-size: 1.1rem !important;
  }

  .faqAnswer {
    font-size: 0.85rem !important;
  }
}