.heroSection {
  padding: 4rem 0;
}

.heroTitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.heroText {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.heroButton {
  display: inline-block;
  margin-top: 1rem;
}

.heroImage {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .heroTitle {
    font-size: 2rem;
    text-align: center;
  }

  .heroText {
    font-size: 1rem;
    text-align: center;
  }

  .heroButton {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .heroImage {
    margin-bottom: 2rem;
  }
}